---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      5 years of experience, TS native familiar with popular frameworks in the
      Node ecosystem
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="books" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Academics</h2>
    <p>
      Bachelor in Computer Engineering (UPRM) &nbsp; Ethereum Development
      (Alchemy University)
    </p>
  </div>

  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Well Rounded</h2>
    <p>Broad knowledge in related fields like DevOps, AppSec and UX</p>
  </div>

  <style>
    .box {
      border: 1px solid var(--gray-800);
      border-radius: 0.75rem;
      padding: 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
    }

    .skills {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    .skills h2 {
      font-size: var(--text-lg);
    }

    .skills p {
      color: var(--gray-400);
    }

    @media (min-width: 50em) {
      .box {
        border-radius: 1.5rem;
        padding: 2.5rem;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
      }

      .skills h2 {
        font-size: var(--text-2xl);
      }
    }
  </style>
</section>
